<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/util 
           http://www.springframework.org/schema/util/spring-util-2.0.xsd
           ">

	<!-- our beans -->
	<import resource="classpath:applicationContext.xml" />
	<bean id="exampleController" class="com.mayletters.example.ExampleController">
		<property name="viewName" value="main" />
	</bean>
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
       <property name="definitions">
            <list>
                <value>/WEB-INF/tiles-def.xml</value>
            </list>
        </property>
    </bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
				value="org.springframework.web.servlet.view.tiles2.TilesView"/>
		</bean>
	<!--
		<bean id="viewResolver2" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	  <property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
	</bean>
	-->
	<!-- URL Mappings -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
			<props>
				<prop key="/example.*">exampleController</prop>
			</props>
		</property>
	</bean>

	<bean id="springDemoController" class="com.mayletters.mvc.controller.SpringDemoController">
		<property name="viewName" value="hello" />
	</bean>

	<bean id="listPersonaController" class="com.mayletters.mvc.controller.ListPersonaController">
		<property name="personaDAO" ref="personaDAO" />
		<property name="viewName" value="lista_persone" />
	</bean>

	<bean id="deletePersonaController" class="com.mayletters.mvc.controller.DeletePersonaController">
		<property name="personaDAO" ref="personaDAO" />
		<property name="viewName" value="redirect:/list.erm" />
	</bean>

	<bean id="registrationController" class="com.mayletters.mvc.controller.RegistrationController">
		<property name="formView" value="/login/registration" />
		<property name="successView" value="redirect:/home.erm" />
	</bean>

	<bean name="/login/register.jsp" class="com.mayletters.mvc.controller.RegistrationController">
		<property name="commandClass" value="com.mayletters.domain.User" />
		<property name="formView" value="registration" />
		<property name="successView" value="redirect:/home.erm" />
	</bean>

	<bean id="formPersonaController" class="com.mayletters.mvc.controller.MyFormController">
		<property name="personaDAO" ref="personaDAO" />
		<property name="commandName" value="pers" />
		<property name="formView" value="myform" />
		<property name="validator" ref="personaValidator" />
		<property name="successView" value="redirect:/list.erm" />
	</bean>

	<bean id="personaValidator" class="com.mayletters.validator.PersonaValidator">
	</bean>

	<bean id="puliziaConnessione"
		class="com.mayletters.mvc.intercept.EntityManagerCleanupInterceptor">
		<property name="appManager" ref="appManager" />
	</bean>




	<!-- Spring helpers -->

	<!-- detecting automatico per controller mapping -->

	<!-- 2 controller mappings, for different interceptor chains -->

	<bean id="no_dbRelatedHandlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>

				<!-- referenced bean -->
				<ref bean="localeChInterc" />

				<!-- inline bean -->
				<bean class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
					<property name="paramName" value="miotema" />
				</bean>
			</list>
		</property>

		<property name="mappings">
			<props>
				<prop key="/home.*">springDemoController</prop>
			</props>
		</property>
	</bean>

	<bean id="dbRelatedHandlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="puliziaConnessione" />
			</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="/myform.*">formPersonaController</prop>
				<prop key="/list.*">listPersonaController</prop>
				<prop key="/delete.*">deletePersonaController</prop>
				<prop key="/register.*">registrationController</prop>
			</props>
		</property>
	</bean>

	<!-- classic stuff -->

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
	</bean>

	<bean id="localeChInterc"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="linguaggio" />
	</bean>

	<bean id="themeResolver"
		class="org.springframework.web.servlet.theme.CookieThemeResolver">
		<property name="defaultThemeName" value="tema1" />
	</bean>

	<bean id="themeSource"
		class="org.springframework.ui.context.support.ResourceBundleThemeSource">
		<property name="basenamePrefix" value="themes." />
	</bean>


	<!-- hint for future -->

	<!--
		<bean id="urlFilenameController"
		class="org.springframework.web.servlet.mvc.UrlFilenameViewController">
		</bean> <bean id="listMultiActionController"
		class="org.springframework.web.servlet.mvc.multiaction.MultiActionController">
		<constructor-arg index="0" ref="listDelegate"></constructor-arg>
		<property name="methodNameResolver" ref="methodResolver" /> </bean>

		<bean id="listDelegate" class="com.mayletters.model.FindPersonaBean">
		<property name="personaDAO" ref="personaDAO" /> <property
		name="viewName" value="list" /> </bean> <bean id="methodResolver"
		class="org.springframework.web.servlet.mvc.multiaction.InternalPathMethodNameResolver">
		</bean>
	-->

</beans>
